<!doctype html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>Code</title>
</head>

<body style="background-position: bottom;">

<section layout:fragment="content">

    <div>
        <h1 class="text-center" style="margin-top: 42px;height: 65px;"><strong>Welcome!</strong></h1>
        <button class="btn btn-primary d-flex d-sm-flex d-md-flex justify-content-center mx-auto justify-content-sm-center mx-sm-auto justify-content-md-center mx-md-auto mx-lg-auto mx-xl-auto bg-danger"
                type="button">
            <a class="nav-link" href="#" th:href="@{/customers}">See All Customers</a>
        </button>
    </div>
</section>
</body>

</html>